<template name ='home'>

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">

                    <h1>Welcome to Quizz.it</h1>
                    <p>Hello everybody. Welcome To Quizz.it. The simplest tool to create shareable quizzes</p>
            <p>If you have any questions please let us know at Jaspermid@gmail.com or @jaspermid</p>
            <br>



            {{#if currentUser}}
            <a href="userPage" class="btn btn-primary btn-medium">
                Click here to continue where you left of.
            </a>
            {{else}}
            <a href="quizzes" class="btn btn-primary btn-medium">
                Click here to get started.
            </a>
            {{/if}}


                <!-- /col-lg-8 -->
        </div> <!-- /container -->
    </div><!-- /ww -->






</template>